testdata/
*.safetensors
*.log
node_modules/
dist/
native/*.o
native/volvoxai
native/volvoxai_dbg
native/shaders/
native/shaders_root_owned_old/
input.f32
models/
native/volvoxai_android
native/volvoxai_android_new
native/volvoxai_arm64
output.f32
tools/__pycache__/
volvoxai.wasm
